.auth {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.auth-box {
  background:var(--card);
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

.auth-box input {
  width:100%;
  padding:10px;
  margin:8px 0;
}

.auth-box button {
  width:100%;
  padding:10px;
  background:var(--primary);
  border:none;
  font-weight:600;
}

.admin {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
  padding:40px;
}

.admin-box {
  background:var(--card);
  padding:20px;
  border-radius:12px;
}

.checkout {
  padding:40px;
  max-width:400px;
  margin:auto;
}

.checkout input {
  width:100%;
  padding:12px;
  margin:10px 0;
}
